@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 

.active {
  background: linear-gradient(to top right, #6366f1,#a855f7, #ec4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
}

.pfp {
  background: linear-gradient(to right, #6366f1,#a855f7, #ec4899);
}

.message {
  background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(to right, #6366f1,#a855f7, #ec4899) border-box;
    border-color: transparent;
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

h1 {
  -webkit-text-fill-color: transparent;
}

body {  
  font-family:'Poppins', sans-serif;
}  